MONGODB_URI="mongodb://127.0.0.1:27017/medicalshop"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_secret_key_here"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password123"

# Backup Settings
BACKUP_DIR="D:\MedicalBackup"
MONGODUMP_PATH="C:\Program Files\MongoDB\Tools\100\bin\mongodump.exe"
